switchyard-auditing/src/main/resources/hello2.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://hello2.simulation.fsw_poc.bva.at/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="Hello2" targetNamespace="http://hello2.simulation.fsw_poc.bva.at/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://hello2.simulation.fsw_poc.bva.at/"
			elementFormDefault="unqualified" targetNamespace="http://hello2.simulation.fsw_poc.bva.at/"
			version="1.0">
			<xs:element name="sayHello2" type="tns:sayHello2" />
			<xs:element name="sayHello2Response" type="tns:sayHello2Response" />
			<xs:complexType name="sayHello2">
				<xs:sequence>
					<xs:element minOccurs="0" name="Hello2Request" type="tns:hello2Request" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="hello2Request">
				<xs:sequence>
					<xs:element minOccurs="0" name="value" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sayHello2Response">
				<xs:sequence>
					<xs:element minOccurs="0" name="Hello2Response" type="tns:hello2Response" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="hello2Response">
				<xs:sequence>
					<xs:element minOccurs="0" name="value" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sayHello2">
		<wsdl:part element="tns:sayHello2" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sayHello2Response">
		<wsdl:part element="tns:sayHello2Response" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Hello2">
		<wsdl:operation name="sayHello2">
			<wsdl:input message="tns:sayHello2" name="sayHello2">
			</wsdl:input>
			<wsdl:output message="tns:sayHello2Response" name="sayHello2Response">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Hello2SoapBinding" type="tns:Hello2">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello2">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sayHello2">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sayHello2Response">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Hello2">
		<wsdl:port binding="tns:Hello2SoapBinding" name="Hello2ImplPort">
			<soap:address location="http://localhost:8080/sy-poc-simulation/Hello2" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>