fsw-poc-main/src/main/resources/xsd/StringConverter_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns="http://stringconverter.main.fsw_poc.bva.at/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://stringconverter.main.fsw_poc.bva.at/">
  <xs:element name="StringConverterRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="content" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StringConverterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="content" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
